.button {
  font-size: 1rem;
  background: var(--background-light);
  color: var(--white);
  padding: 0.35rem 0.5rem;
  border-radius: var(--border-radius);
  transition-duration: 200ms;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition-duration: var(--transition-duration);
}

.button > svg {
  height: 1.5rem;
  width: 1.5rem;
}

.button:hover {
  background-color: rgba(255,255,255,0.02);
}

.selected, .selected:hover {
  background-color: rgba(255,255,255,0.035);
}