.spinner {
  width: 3rem;
  height: 3rem;
  border: 0.25rem solid var(--primary);
  border-top: 0.25rem solid var(--background);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}