.header {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-wrap: nowrap;
    flex-direction: column;
}

.items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    align-content: flex-start;
    gap: 1rem;
    height: calc(100vh - 7.3rem);
    padding-right: 0.5rem;
}

.titleMain {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--primary);
    gap: 0.5rem;
}

.title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

@media (min-width: 550px) {
    .title {
        justify-content: flex-start;
        width: auto;
    }

    .items {
        height: calc(100vh - 5rem);
    }

    .header {
        flex-direction: row;
    }
}