.header {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-wrap: nowrap;
    flex-direction: column;
}

.items {
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    padding-right: 0.5rem;
}

.titleMain {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--primary);
    gap: 0.5rem;
}

.title {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.accordion {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    padding: 15px 46px;
    background-color: var(--background-light);
    margin-top: 24px;
}

.notes {
    width: 100%;
    padding: 0px 46px 15px 46px;
    margin-top: 20px;
}

.list {
    display: flex;
    flex-direction: column;
}

@media (min-width: 550px) {
    .title {
        justify-content: flex-start;
        width: auto;
    }

    .items {
        height: calc(100vh - 5rem);
    }

    .header {
        flex-direction: row;
    }
}