.container::-webkit-scrollbar {
  height: 4px;
}

.container::-webkit-scrollbar-track {
  background: var(--background-light);
}

.container::-webkit-scrollbar-thumb {
  background: #777;
}

.container::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.container{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow-x: scroll;
  padding-bottom: 0.5rem;
  gap: 1.5rem;
}

.addBtn {
  border-radius: var(--border-radius);
  border: 1px solid var(--primary);
  margin-inline: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 180px;
  max-width: 180px;
  min-height: 200px;
  height: 100%;
}

.addBtn svg {
  color: #FFFFFF;
}

.container article {
  max-width: 180px;
}