.accordionContainer {
  margin: 0px 25px;
  position: relative;
}

.content {
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  margin-bottom: 20px;
}

.buttonContainer {
  padding: 8px;
  text-align: center;
}

.button {
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
  margin: 5px;
}
