.stats {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.row1,
.row2 {
  display: grid;
  grid-template-columns: 8fr 3fr;
  gap: 1rem;
}

.row1section1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.row1section2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.decoratedRow {
  position: relative;
  display: flex;
  width: 100%;
}

.decoratedRow svg {
  width: 100%;
  height: auto;
}

.decoratedRow > span {
  position: absolute;
  font-weight: 500;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.decoratedRow > p {
  position: absolute;
  left: 20%;
  top: 50%;
  font-size: 0.889rem;
  transform: translateY(-50%);
}

.row2section1 {
  display: flex;
  flex-direction: column;
  /* display: grid; */
  /* grid-template-rows: 5fr 4fr; */
  gap: 1rem;
}

.row2section2 {
  display: grid;
  grid-template-columns: 4fr 2fr;
  gap: 1rem;
}

.row2section3 {
  display: grid;
  /* grid-template-rows: 1fr 1fr; */
  gap: 1rem;
}

.row2section3 .box {
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.box {
  border: 2px solid var(--primary);
  border-radius: var(--border-radius);
  padding: 0.5rem 0.75rem;
}

.points {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-between;
}

.pointsSection {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.pointsSection .bigLabel {
  font-weight: 700;
}

.stats hr {
  background-color: var(--primary);
  margin: 0.333rem 0;
}

.points hr {
  margin: 0;
}

.saveThrows,
.skills {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.saveThrowsContent,
.skillsContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around;
}

.bigLabel {
  font-size: 2.5rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.bigLabel > span {
  font-size: 0.889rem;
  font-weight: 300;
  color: var(--text-light);
}

.competencies {
  width: 100%;
}

.competencies p {
  color: var(--text-light);
}

.competencies p > b {
  color: var(--foreground);
}

.competencies svg {
  width: 1.25rem;
  height: auto;
}

.competenciesList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.competenciesList > div {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.row2section4 {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
  width: 100%;
}

@media (max-width: 1200px) {
  .row1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .row1section1 {
    width: 45rem;
  }

  .row1section2 {
    max-width: 17rem;
    gap: 0.5rem;
  }
}

@media (max-width: 985px) {
  .row1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .row1section1 {
    width: 100%;
  }
}

@media (max-width: 850px) {
  .row1section1 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 1100px) {
  .row2section1 {
    align-items: center;
  }
  .row2 {
    display: flex;
    flex-direction: column;
  }

  .row2section2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .row2section4 {
    grid-template-columns: 5fr 1fr;
  }

  .points {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 1rem;
    padding: 1rem;
  }

  .points hr {
    width: 1px;
    height: auto;
  }

  .skillsContent {
    gap: 0.25rem;
  }
}

@media (max-width: 680px) {
  .row1section1 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 550px) {
  .row1section1 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 425px) {
  .row1section1 {
    grid-template-columns: 1fr 1fr;
  }

  .row1section2 {
    max-width: none;
  }
}

@media (max-width: 500px) {
  .row2section4 {
    grid-template-columns: 1fr;
  }
  .row2section3 {
    grid-template-columns: 1fr 1fr;
  }
  .saveThrowsContent {
    gap: 0.25rem;
  }
}