.button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.25rem;
}

.button > svg > path {
  fill: var(--foreground);
}

.label {
  color: var(--text-light);
  font-size: 0.6rem;
}

.forgot {
  text-align: right;
  color: var(--text-light);
  font-size: 0.889rem;
  color: var(--primary);
}

.forgot:hover {
  text-decoration: underline;
}