.headingContent {
  display: flex;
  align-items: flex-end;
  gap: 5px;
}

.addBtn {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #e61720;
  cursor: pointer;
}

.heading {
  display: flex;
  justify-content: space-between;
}

.hr {
  background-color: var(--primary);
}

.traitsContainer {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  gap: 15px;
}

.characterTraits {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

.characterTraits hr {
  background-color: var(--primary);
  margin: 0.5rem 0;
}

/* .traitsContainer {
  position: relative;
  z-index: 1;
} */

.createTraitContainer {
  width: 50%;
  position: absolute;
  right: 0;
  top: 35px;
  z-index: 100;
  background-color: #2b2632;
}

@media (max-width: 765px) {
  .createTraitContainer {
    width: 85%;
  }
}
