.container {
  position: absolute;
  top: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo > h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--primary);
}