.cardCampaign {
  position: relative;
  /* background-color: var(--background-light); */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  width: 100%;
  /* border: 1px solid #5b5b5b; */
  border-radius: var(--border-radius);
  overflow: hidden;
  height: 318px;
}

/* @media (min-width: 500px) {
  .cardCampaign {
    width: 300px;
  }
} */

.cardCampaign > section {
  display: flex;
}

.image {
  position: relative;
  width: 100%;
  aspect-ratio: 16/10;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.information {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 1rem;
}

.h3 {
  color: var(--primary);
  font-weight: 500;
}

.p {
  color: var(--text-light);
  font-size: 0.75rem;
}

.pro {
  background-color: var(--primary);
  padding: 5px 22px;
  border-radius: 0px 0px 0px 10px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}