.wrapper {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/landing/hero.webp');
  background-size: cover;
  background-position: right center;
  position: relative;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  padding: 4rem 0;
  min-height: 36rem;
}

.hero>p {
  max-width: 24rem;
  transition: 200ms;
}

.hero a {
  text-transform: uppercase;
}

@media (min-width: 576px) {
  .wrapper {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.375)), url('/assets/landing/hero.webp');
  }

  .hero {
    align-items: flex-start;
    text-align: left;
  }
}

@media (min-width: 768px) {
  .hero>p {
    max-width: 28rem;
  }
}

@media (min-width: 1100px) {
  .hero>p {
    max-width: 32rem;
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

a.animatedButton {
  background: linear-gradient(90deg, #9e0b0f, #2dce10);
  background-size: 100% 100%;
  animation: gradientAnimation 1s ease infinite;
}

