.card {
  max-width: 475px;
  height: 141px;
  padding: 1rem;
  background-color: var(--background-light);
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
}

.card > h3 {
    font-size: 2rem;
}

