.list {
}

.header {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-wrap: nowrap;
  flex-direction: column;
}

.items {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(300px, 1fr)
  ); /* Define tus columnas */
  gap: 2rem; /* Espacio entre los elementos */
  justify-items: center;
  /* display: flex;
  flex-wrap: wrap; */
  margin: 0 auto;
  /* align-content: flex-start; */
  /* gap: 1rem; */
  overflow-y: scroll;
  height: calc(100vh - 7.3rem);
  padding-right: 0.5rem;
}

.title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.title a {
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
  font-size: 1rem;
  border-radius: 50%;
}

@media (min-width: 550px) {
  .title {
    justify-content: flex-start;
    width: auto;
  }

  .items {
    height: calc(100vh - 5rem);
  }

  .header {
    flex-direction: row;
  }
}

.items::-webkit-scrollbar {
  width: 4px;
}

.items::-webkit-scrollbar-track {
  background: var(--background-light);
}

.items::-webkit-scrollbar-thumb {
  background: #777;
}

.items::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.searchContainer {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.search {
  background-color: var(--background-light);
  flex-direction: row-reverse;
  flex-grow: 1;
}

.search input {
  padding: 0.333rem 0.5rem;
  width: 100%;
}

@media (min-width: 550px) {
  .searchContainer {
    width: auto;
  }

  .search {
    flex-grow: 0;
  }
}

.search svg {
  height: 1.2rem;
  width: 1.2rem;
  min-height: 1.2rem;
  min-width: 1.2rem;
  margin-left: 0.5rem;
}

.search svg > path {
  fill: #ffffff;
}
