:root {
  --background: #131017;
  --background-light: #1c1824;
  --foreground: #ffffff;
  --primary: #e61720;
  --primary-dark: #9e0b0f;

  --black-button: #2b282e;

  --border-radius: 0.5rem;
  --button-crop-size: 1rem;

  --max-width: 1200px;
}

html {
  font-family: "Jost", sans-serif;
  color-scheme: dark;
  background-color: var(--background);
  color: var(--foreground);
}

* {
  box-sizing: border-box;
  border-radius: inherit;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
}

button,
textarea,
input {
  font-family: inherit;
}

button {
  cursor: pointer;
}

html {
  font-size: 16px;
}

h2 {
  line-height: 1.2;
}

a {
  color: inherit;
  text-decoration: none;
}

.section {
  width: 100%;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-padding {
  padding: 5rem 1rem;
}

.content {
  width: 100%;
}

@media (min-width: 1250px) {
  .content {
    max-width: var(--max-width);
  }
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}
