:root {
  --background: #131017;
  --background-light: #1c1824;
  --foreground: #ffffff;
  --primary: #e61720;
  --primary-dark: #9e0b0f;

  --black-button: #2b282e;

  --black-button-light: rgba(28, 24, 36, .40);

  --line-color: rgba(255, 255, 255, .15);

  --text-copy: rgba(255, 255, 255, .3);

  --text-light: rgba(255, 255, 255, .75);
  
  --text-light: rgba(255, 255, 255, .75);

  --border-radius: 0.5rem;
  --button-crop-size: 1rem;

  --max-width: 1200px;

  --transition-duration: 200ms;
}

html {
  font-family: "Jost", sans-serif;
  color-scheme: dark;
  background-color: var(--background);
  color: var(--foreground);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
}

button,
textarea,
input {
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: transparent;
  color: var(--foreground);
}

html {
  font-size: 16px;
}

h2 {
  line-height: 1.2;
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  width: 100%;
  height: 1px;
  min-height: 1px;
  background-color: var(--line-color);
  margin: 0.5rem 0;
}

.section {
  width: 100%;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section h2  {
  font-size: 2rem;
  transition: 200ms;
}

@media (min-width: 576px) {
  .section h2 {
    font-size: 2.5rem;
  }
}

@media (min-width: 768px) {
  .section h2 {
    font-size: 2.875rem;
  }
}

@media (min-width: 1100px) {
  .section h2 {
    font-size: 3.5rem;
  }
}

.content p {
  color: var(--text-light);
}

.landing-padding {
  padding: 5rem 1rem;
}

.content {
  width: 100%;
}

@media (min-width: 1250px) {
  .content {
    max-width: var(--max-width);
  }
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}
