.container {
  background-color: var(--background-light);
}

.features {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  padding: 4rem 0;
  font-size: 1rem;

  transition-duration: var(--transition-duration);
}

.features section > svg {
  width: 4rem;
  height: 4rem;
  transition-duration: var(--transition-duration);
}

.features > article {
  padding: 2rem;
}

@media (min-width: 430px) {
  .features {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    font-size: 1rem
  }

  .features > article {
    padding: 1.25rem;
  }
  
  .features section > svg {
    width: 3.25rem;
    height: 3.25rem;
  }
}

@media (min-width: 512px) {
  .features section > svg {
    width: 4rem;
    height: 4rem;
  }

  .features {
    font-size: 1rem;
    gap: 2rem;
  }

  .features > article {
    padding: 2rem;
  }
}

@media (min-width: 900px) {
  .features {
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    font-size: 0.889rem;
  }

  .features section > svg {
    width: 3.25rem;
    height: 3.25rem;
  }

  .features > article {
    padding: 1.25rem;
  }
}

@media (min-width: 1150px) {
  .features section > svg {
    width: 4rem;
    height: 4rem;
  }

  .features {
    font-size: 18px;
    gap: 2rem;
  }

  .features > article {
    padding: 2rem;
  }
}