.list {

}

.header {
  position: sticky;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-wrap: nowrap;
  flex-direction: column;
}

.items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  align-content: flex-start;
  gap: 1rem;
  overflow-y: scroll;
  height: calc(100vh - 7.3rem);
}

.title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

@media (min-width: 550px) {
  .title {
    justify-content: flex-start;
    width: auto;
  }

  .items {
    height: calc(100vh - 5rem);
  }

  .header {
    flex-direction: row;
  }
}

.items::-webkit-scrollbar {
  width: 4px;
}

.items::-webkit-scrollbar-track {
  background: var(--background-light);
}

.items::-webkit-scrollbar-thumb {
  background: #777;
}

.items::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.searchContainer {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.search {
  background-color: var(--background-light);
  flex-direction: row-reverse;
}

.search input {
  padding: 0.333rem 0.5rem;
}

.filter svg {
  height: 1.75rem;
  width: 1.75rem;
  min-height: 1.75rem;
  min-width: 1.75rem;
}

.filter svg > path {
  fill: #FFFFFF;
}

.search svg {
  height: 1.2rem;
  width: 1.2rem;
  min-height: 1.2rem;
  min-width: 1.2rem;
  margin-left: 0.5rem;
}

.search svg > path {
  fill: #FFFFFF;
}