.editProfileBody {
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 100%;
}

.selectPhoto {
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* padding: 20px; */
  /* justify-content: center; */
  align-items: center;
  /* background-color: #131017; */
  border-radius: 5px;

  width: 100%;
  overflow-x: hidden;
}

.selectPhoto img {
  border-radius: 50%;

  opacity: 70%;
  cursor: pointer;
  width: 13%;
  /* min-width: 150px; */
  object-fit: contain;
}

.selectPhoto img:hover {
  opacity: 100%;
}

.photoContainer {
  width: 100%;
  overflow-x: scroll;
  display: flex;
  padding: 25px 20px;
  border-radius: 5px;
  background-color: #131017;
  gap: 15px;
  /* justify-content: center; */
}

.photoContainer::-webkit-scrollbar {
  height: 4px;
}

.photoContainer::-webkit-scrollbar-track {
  background: var(--background-light);
}

.photoContainer::-webkit-scrollbar-thumb {
  background: #777;
}

.photoContainer::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.hidden {
  display: none;
}

.uploadBtn {
  background-color: #131017;
  font-size: 1.25rem;

  padding: 0.5rem 0.75rem;

  border-radius: var(--border-radius);
  /* clip-path: polygon(0 0,100% 0,100% calc(100% - var(--button-crop-size)),calc(100% - var(--button-crop-size)) 100%,0 100%); */
  transition-duration: 200ms;
  /* text-transform: uppercase; */
  display: flex;
  text-align: center;
  justify-content: center;
}

img.selected {
  opacity: 100%;
  transform: scale(1);
}

.slideIn {
  animation: slideInAnimation 0.4s ease-in-out forwards;
}

@keyframes slideInAnimation {
  0% {
    opacity: 0;
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(0);
  }
}

@media (max-width: 1200px) {
  .selectPhoto img {
    width: 20%;
  }
}

@media (max-width: 420px) {
  .selectPhoto img {
    width: 35%;
  }
}
