.profileContainer {
  background-color: var(--background-light);
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  border-radius: var(--border-radius);
  overflow-x: hidden;
}

.changeProfilePic {
  background-color: var(--background-light);
}

.header {
  background-color: var(--background-light);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  border-radius: var(--border-radius);
}

.userDetails {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.information {
  display: grid;
  grid-template-rows: 1fr;
  gap: 1rem;
  flex-grow: 1;
  width: 100%;
}

.informationOpen {
  grid-template-rows: 1fr 1fr;
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  flex-grow: 1;
}

.dataHeader {
  display: flex;
  flex-direction: column;
}

.uploadBtn {
  background-color: #131017;
  font-size: 1rem;

  padding: 0.5rem 0.75rem;

  border-radius: var(--border-radius);

  transition-duration: 200ms;

  display: flex;
  text-align: center;
  justify-content: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.uploadLabel {
  background-color: #131017;
  text-align: center;
  padding: 5px 0;
  border-radius: 5px;
  cursor: pointer;
}

.image {
  position: relative;
  width: 7rem;
  min-width: 7rem;
  aspect-ratio: 1;
  border-radius: 50%;
}

.edit {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.35);
  transition-duration: var(--transition-duration);
  border-radius: inherit;
  opacity: 0;
}

.edit:hover {
  opacity: 1;
}

.edit svg {
  height: 1.5rem;
  width: 1.5rem;
}

.edit svg path {
  fill: var(--foreground);
}

.editBtn {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
  scale: 0.9;
}

.image>img {
  border-radius: inherit;
}

.selectPhotoBtn {
  display: none;
}

.selectPhotoBtn svg {
  height: 1.5rem;
  width: 1.5rem;
  min-height: 1.5rem;
  min-width: 1.5rem;
}

.selectPhotoBtn path {
  fill: var(--foreground);
}

@media (min-width: 700px) {
  .information {
    display: flex;
  }

  .hideData {
    display: none;
  }

  .selectPhotoBtn {
    display: flex;
    align-items: center;
  }
}

.username {
  color: var(--text-light);
  font-weight: 300;
}

.since {
  font-size: 0.889rem;
  font-weight: 300;
}

.hidden {
  display: none;
}