.container {
  position: absolute;
  top: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  gap: 0.5rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--primary);
  font-size: 1.25rem;
  transition-duration: var(--transition-duration);
}


@media (max-width: 370px) {
  .logo > h1 {
    display: none;
  }
}

@media (min-width: 420px) {
  .logo {
    font-size: 1.5rem;
  }
}

@media (min-width: 576px) {
  .logo {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  .logo {
    font-size: 1.75rem;
  }
}

@media (min-width: 1100px) {
  .logo {
    font-size: 2rem;
  }
}