.items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Define tus columnas */
  gap: 1rem;
  justify-items: center;
  margin: 0 auto;
}

.items::-webkit-scrollbar {
  width: 4px;
}

.items::-webkit-scrollbar-track {
  background: var(--background-light);
}

.items::-webkit-scrollbar-thumb {
  background: #777;
}

.items::-webkit-scrollbar-thumb:hover {
  background: #888;
}